:root {
  --heading-color: #1f1f1f;
  --text-color: #4f4f4f;
  --link-color: #428ce3;
  --background-color: #f3f4f1;
  scroll-behavior: smooth;
}

/* You can do the same for links */
p,
a,
div,
li,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Roboto;
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url(/font/Roboto-Regular.ttf) format("woff");
  font-display: swap;
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: solid 1px var(--heading-color);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 1px var(--heading-color);
}

.navbar-container {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "kiri tengah kanan hamburger-menu";
  align-items: center;
  padding: 12px 0;
  background-color: #ffffff;
}

.menu-item {
  list-style-type: none;
  display: flex;
  grid-area: tengah;
  padding-left: 0;
}

.menu-item li {
  padding: 12px 24px 0 24px;
  cursor: pointer;
}

.menu-item li a {
  padding-bottom: 12px;
  cursor: pointer;
  text-decoration: none;
}

.nav-logo {
  grid-area: kiri;
  padding-left: 4rem;
  cursor: pointer;
}
.nav-logo p {
  font-size: 24px;
  font-weight: bold;
}

.nav-logo p a {
  text-decoration: none;
  color: var(--heading-color);
}

.nav-btn {
  grid-area: kanan;
  padding-right: 4rem;
}

.nav-btn button {
  font-size: 14px;
  padding: 12px 20px;
  background-color: #428ce3;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
}

nav .menu-item > li .dropdown-menu {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  overflow-y: hidden;
  max-height: 0;
  transition: all 0.3s ease;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* max-height: 1000px; */
}

nav .menu-item > li:hover .dropdown-menu {
  max-height: 1000px;
  transition: all 900ms ease;
}

.dropdown-container {
  padding: 32px 0 64px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 846px;
}

.col {
  margin: 0;
}

.col h3 {
  font-size: 12px;
  color: var(--text-color);
}

.col ul {
  padding: 0;
}

.col ul li {
  padding: 16px 0 0;
  list-style: none;
}

.col ul li a {
  padding: 0;
  font-size: 24px;
  color: var(--heading-color);
  font-weight: 600;
}

/* Navbar hover effect */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--heading-color);
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--heading-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Hamburger menu */
/* Styling untuk hamburger menu */
.menu-icon {
  grid-area: hamburger-menu;
  cursor: pointer;
  display: none;
  padding: 0 16px;
  position: relative;
  user-select: none;
  z-index: 999999;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Garis-garis pada hamburger menu */
.menu-icon span {
  background-color: #333;
  display: block;
  height: 2px;
  margin-bottom: 4px;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  width: 16px;
}

/* Animasi untuk mengubah hamburger menjadi X */
.menu-icon.active span:nth-child(1) {
  transform: translateY(3px) rotate(45deg);
}

.menu-icon.active span:nth-child(2) {
  transform: translateY(-3px) rotate(-45deg);
}

.menu-mobile {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--background-color);
  color: white;
  list-style: none;
  padding: 32px 0;
  transition: all 500ms ease;
}

.menu-mobile li {
  padding: 0 32px 12px 32px;
}

.menu-mobile li a {
  text-decoration: none;
  font-size: 24px;
  line-height: 40px;
  color: var(--heading-color);
  transition: all 800ms ease;
  font-weight: bold;
}

.hamburger-menu {
  width: 24px;
  height: 24px;
}

.showMenu {
  transform: translateY(0);
}

.back-icon {
  display: none;
}

/* Hero section */
.hero-section {
  padding: 40px 0 64px 0;
}

.hero-title {
  display: flex;
  justify-content: center;
  max-width: 661px;
}

.hero-title h2 {
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  color: var(--heading-color);
}

.hero-description {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.hero-description p {
  font-size: 24px;
  color: var(--text-color);
  text-align: center;
}

.hero-img {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  padding: 0 64px;
}

.responsive-img {
  border-radius: 12px;
  width: 100%;
  max-width: 916px;
  height: auto;
  box-shadow: 1.6px 1.6px 3.6px -8px rgba(0, 0, 0, 0.021), 9.7px 9.7px 10px -8px rgba(0, 0, 0, 0.03), 33.2px 33.2px 24.1px -8px rgba(0, 0, 0, 0.039), 100px 100px 80px -8px rgba(0, 0, 0, 0.06);
}

.hero-statistics {
  display: flex;
  justify-content: center;
  padding: 0 64px;
}

.hero-statistics-container {
  display: flex;
  width: 916px;
}

.statistics-title {
  font-size: 64px;
  color: var(--heading-color);
}
.statistics-text {
  font-size: 12px;
  color: var(--text-color);
  max-width: 162px;
  text-align: center;
  margin-top: 4px;
}

.total-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin: 0;
  padding: 0 16px;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
}

.satisfaction {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: start;
  margin: 0;
  padding: 0 16px;
}

/* Service section */
.service-section {
  background-color: var(--background-color);
  padding: 100px 0;
}

.service-label {
  padding: 0 64px;
}
.service-label h3 {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 450;
}

.service-title {
  padding: 0 64px;
  color: var(--heading-color);
}
.service-title h2 {
  font-size: 48px;
  line-height: 64px;
  margin-top: 4px;
  color: var(--heading-color);
}

.accordion-container {
  padding: 0 64px;
  margin-top: 24px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: var(--heading-color);
  cursor: pointer;
  padding: 16px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: grid;
  grid-template-columns: auto 1fr auto;
  font-size: 24px;
  background-color: transparent;
  align-items: center;
}

.accordion.active {
  border-bottom: none;
}

.accordion-service {
  padding-left: 40px;
  margin: 0;
}

.panel {
  padding-left: 69px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin: 0;
  border-bottom: solid 1px rgba(31, 31, 31, 0.5);
}

.panel p {
  font-size: 14px;
  color: var(--text-color);
  max-width: 453px;
  margin: 0;
}

.panel a {
  display: block;
  margin: 16px 0;
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
  transition: all 0.3s;
}

.panel a:hover {
  text-decoration: underline;
}

.panel a::after {
  content: "";
  position: relative;
  display: inline-block;
  background: url(img/arrow_forward_ios.svg) no-repeat center;
  background-size: 10px;
  width: 10px;
  height: 10px;
  margin: 0 0 0 4px;
}

.animate-icon {
  transition: 0.4s;
}
.rotate {
  transform: rotate(180deg);
}

/* About us section */
.about-us-section {
  padding: 100px 0;
}

.about-us-container {
  display: grid;
  grid-template-areas: " kolom-kiri kolom-kanan";
  grid-template-columns: repeat(2, 1fr);
  padding: 0 64px;
  gap: 24px;
}

.about-us-left-colum {
  grid-area: kolom-kiri;
  margin: 0;
}

.about-us-label h3 {
  font-size: 14px;
  color: var(--text-color);
  /* text-transform: uppercase; */
  font-weight: lighter;
}

.about-us-title h2 {
  font-size: 48px;
  color: var(--heading-color);
  font-weight: bold;
  margin-top: 4px;
  line-height: 64px;
}

.about-us-decription {
  margin-top: 8px;
}

.top-text {
  font-size: 20px;
  color: var(--text-color);
  line-height: 30px;
  max-width: 477px;
  margin: 0;
}

.top-text span {
  font-weight: bold;
  color: var(--heading-color);
}

.bottom-text {
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
  max-width: 477px;
  margin: 16px 0 0;
}

.about-us-right-colum {
  grid-area: kolom-kanan;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us-img {
  border-radius: 12px;
  width: 100%;
  max-width: 684px;
  height: auto;
  /* box-shadow: 1.6px 1.6px 3.6px -8px rgba(0, 0, 0, 0.021), 9.7px 9.7px 10px -8px rgba(0, 0, 0, 0.03), 33.2px 33.2px 24.1px -8px rgba(0, 0, 0, 0.039), 100px 100px 80px -8px rgba(0, 0, 0, 0.06); */
  margin: 0;
}

/* Testimoni */
.testimoni-section {
  padding: 100px 0;
}

.testimoni-container {
  padding: 0 64px;
}

.testimoni-top-row h3 {
  font-size: 14px;
  color: var(--text-color);
  font-weight: lighter;
}

.testimoni-top-row h2 {
  font-size: 48px;
  line-height: 64px;
  margin-top: 4px;
  color: var(--heading-color);
}

.grid-gallery {
  width: 100%;
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.grid-gallery .grid-item {
  position: relative;
  background-color: #efefef;
  overflow: hidden;
  border-radius: 12px;
}

.grid-gallery .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.grid-gallery .grid-item a {
  cursor: zoom-in;
}

.grid-gallery .grid-item:nth-child(3n - 2) {
  grid-column: span 2;
  grid-row: span 2;
}

/* Footer */
.footer {
  padding: 24px 64px;
  border-top: solid 1px var(--heading-color);
}

.footer-container {
  display: grid;
  grid-template-areas: "footer-left footer-center footer-right";
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.footer-title {
  grid-area: footer-left;
}

.footer-title p {
  font-size: 24px;
  color: var(--heading-color);
  font-weight: bold;
}

.footer-text {
  grid-area: footer-center;
  display: flex;
  align-items: center;
}

.privacy-policy {
  font-size: 14px;
  color: var(--text-color);
}

.copyright {
  font-size: 14px;
  color: var(--text-color);
}

.privacy-policy {
  margin-right: 24px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}

.privacy-policy:hover {
  text-decoration: underline;
}

.footer-icon {
  grid-area: footer-right;
}

.whatsapp-icon {
  margin-right: 32px;
}

/* Privacy & Policy Page */
.privacy-policy-section {
  max-width: 980px;
  padding-top: 80px;
}

.privacy-policy-accordion-container {
  padding: 40px 64px 80px;
}

.privacy-policy-title h2 {
  text-align: center;
  font-size: 48px;
  line-height: 64px;
  color: var(--heading-color);
}

.privacy-policy-title p {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
  max-width: 600px;
}

.privacy-policy-accordion {
  color: var(--heading-color);
  cursor: pointer;
  padding: 16px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 24px;
  background-color: transparent;
  align-items: center;
}

.privacy-policy-sub-menu {
  margin: 0;
}

.privacy-policy-sub-menu p {
  font-size: 32px;
  color: var(--heading-color);
  font-weight: bold;
}

.privacy-policy-accordion-icon {
  margin: 0;
  display: flex;
  justify-content: end;
}

.arrow-icon {
  margin: 0;
}

.privacy-policy-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  margin: 0;
  border-bottom: solid 1px rgba(31, 31, 31, 0.5);
}

.privacy-policy-panel p {
  padding: 16px 0;
  font-size: 14px;
  color: var(--text-color);
}

.privacy-policy-panel .line-2 {
  padding-top: 0;
}

.line-2 a {
  color: var(--link-color);
  font-style: none;
}

/* Paspor page */
.paspor-hero {
  padding: 100px 64px;
  height: auto;
}

.paspor-title {
  margin-bottom: 40px;
}

.paspor-title h1 {
  font-size: 80px;
  line-height: 96px;
  color: var(--heading-color);
  text-align: center;
}

.paspor-text p {
  max-width: 756px;
  font-size: 24px;
  line-height: 40px;
  color: var(--text-color);
  text-align: center;
}

.paspor-service-section {
  padding: 40px 64px 200px;
}

.paspor-service-container {
  max-width: 1107px;
}

.paspor-service-sub-heading {
  padding: 0 0 40px 12px;
}

.paspor-service-sub-heading h2 {
  color: var(--text-color);
  font-size: 14px;
  font-weight: lighter;
}

.paspor-service-sub-heading h3 {
  color: var(--heading-color);
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  padding-top: 8px;
  max-width: 393px;
}

.paspor-card-content {
  max-width: 656px;
}
.paspor-card {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 12px;
  gap: 32px;
}

.margin {
  margin-top: 64px;
}

.paspor-card-img {
  margin: 0;
  max-height: 281px;
  max-width: 371px;
}

.paspor-img {
  height: auto;
  width: 100%;
  border-radius: 12px;
}

.paspor-card-content {
  margin: 0;
}

.paspor-card-title h2 {
  font-size: 32px;
  color: var(--heading-color);
}

.paspor-card-text {
  padding: 24px 0;
}

.paspor-card-text p {
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color);
}

.paspor-card-link a {
  text-decoration: none;
  font-size: 16px;
  color: var(--link-color);
}

.paspor-card-link a:hover {
  text-decoration: underline;
}

.paspor-card-link a::after {
  content: "";
  position: relative;
  display: inline-block;
  background: url(img/arrow_forward_ios.svg) no-repeat center;
  background-size: 10px;
  width: 10px;
  height: 10px;
  margin: 0 0 0 4px;
}

/* Services page */
/* Services page hero section */
.services-page-hero-container {
  padding: 100px 64px 40px;
}

.services-page-hero-text {
  padding-bottom: 40px;
}

.services-page-hero-text h1 {
  font-size: 64px;
  line-height: 80px;
  color: var(--heading-color);
  text-align: center;
}

.services-page-hero-img {
  max-width: 646px;
  max-height: 32opx;
}
.services-page-hero-img img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

/* Services page content section */
.services-page-content-container {
  padding: 0 64px 100px;
  max-width: 646px;
}

.services-page-content {
  padding-bottom: 40px;
}

.services-page-content h3 {
  font-size: 14px;
  font-weight: lighter;
  color: var(--text-color);
  padding-bottom: 4px;
}

.services-page-content h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--heading-color);
  padding-bottom: 12px;
}

.services-page-content p {
  font-size: 16px;
  font-weight: normal;
  color: var(--text-color);
  line-height: 24px;
}

table {
  width: 100%;
  margin: 24px 0;
  border-collapse: collapse;
  border-radius: 10px;
}

th {
  text-align: left;
}

table tr {
  background-color: #f0f4f9;
  border-bottom: 1px solid #ddd;
}

table th,
table td {
  padding: 16px;
}

.persyaratan ol {
  padding-left: 20px;
}
.persyaratan ol li {
  color: var(--text-color);
  line-height: 24px;
}

.persyaratan.umum {
  margin-bottom: 12px;
}

.biaya {
  margin: 12px 0;
  padding-left: 0;
}

.biaya li {
  list-style-type: none;
  font-weight: bolder;
  line-height: 24px;
}
.biaya li span {
  font-weight: normal;
}

@media (max-width: 834px) {
  /* Navbar */
  .navbar-container {
    padding: 8px 0;
  }
  .hamburger {
    display: block;
  }

  .nav-btn {
    display: none;
  }

  .nav-logo {
    padding-left: 16px;
  }

  .close-btn {
    display: none;
  }

  .menu-item {
    position: fixed;
    top: -100%;
    /* left: 100%; */
    width: 100%;
    height: 80%;
    background: #fff;
    z-index: 100;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 0;
    padding-left: 32px;
    padding-top: 58px;
    transition: all 0.3s ease;
  }

  .menu-item li {
    margin: 0;
    padding: 0;
  }

  .menu-item li a {
    padding: 0 0 24px;
    font-size: 24px;
    font-weight: 600;
    color: var(--heading-color);
  }

  .menu-item.show {
    top: 0;
    height: 100%;
  }

  .menu-icon {
    display: inline-block;
    transition-delay: 0.3s;
  }

  .menu-icon.hide {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
  }

  .dropdown-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    overflow-y: auto;
    max-height: 100vh;
    padding: 8px 0 0 32px;
    gap: 24px;
  }

  nav .menu-item > li .dropdown-menu {
    box-shadow: none;
    top: 0;
    overflow-y: auto;
    max-height: 100vh;
    left: 100%;
  }

  nav .menu-item > li .dropdown-menu.show {
    left: 0;
    z-index: 999999999;
  }
  nav .menu-item > li:hover .dropdown-menu {
    max-height: 100vh;
    transition: all 0.5s ease;
  }

  .back-icon {
    display: block;
    margin: 0;
    padding: 15px 0 0;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(0);
  }

  .col ul li {
    padding: 12px 0 0;
    list-style: none;
  }

  /* Hero section */
  .hero-section {
    padding: 40px 0;
  }

  .hero-title {
    padding: 0 12px;
  }

  .hero-title h2 {
    font-size: 64px;
    line-height: 72px;
  }

  .hero-description {
    padding: 0 12px;
  }

  .hero-description p {
    font-size: 16px;
    line-height: 24px;
  }

  .hero-img {
    padding: 0 32px;
  }

  .hero-statistics {
    padding: 0 32px;
  }

  .statistics-title {
    font-size: 32px;
  }

  /* Service section */
  .service-section {
    padding: 40px 0;
  }
  .service-label {
    padding: 0 32px;
  }

  .service-title {
    padding: 0 32px;
  }

  .service-title h2 {
    font-size: 32px;
    line-height: 48px;
  }

  .accordion-container {
    padding: 0 32px;
  }

  /* about-us section */
  .about-us-section {
    padding: 40px 0;
  }

  .about-us-container {
    padding: 0 32px;
    grid-template-areas:
      "kolom-kanan"
      "kolom-kiri";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .about-us-right-colum {
    margin: 0;
    justify-content: start;
  }

  .about-us-title h2 {
    font-size: 32px;
    line-height: 48px;
  }

  /* Testimoni */
  .testimoni-section {
    padding: 40px 0;
  }

  .testimoni-container {
    padding: 0 32px;
  }

  .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }

  .grid-gallery .grid-item:nth-child(3n - 2) {
    grid-column: unset;
    grid-row: unset;
  }

  .testimoni-top-row h2 {
    font-size: 32px;
    line-height: 48px;
  }

  /* footer section */
  .footer {
    padding: 24px 8px;
  }
  .footer-container {
    grid-template-areas:
      "footer-left footer-right"
      "footer-center footer-center";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 12px;
  }

  .footer-title {
    margin: 0;
  }

  .footer-text {
    margin: 0;
    justify-content: start;
    align-items: center;
    width: 100%;
  }

  .privacy-policy {
    margin: 0;
    margin-right: 24px;
    justify-content: start;
    align-items: center;
  }

  .copyright {
    margin: 0;
  }

  /* Privacy & policy */
  .privacy-policy-section {
    padding: 40px 32px 100px;
  }

  .privacy-policy-accordion-container {
    padding: 40px 0 0;
  }

  .privacy-policy-title h2 {
    text-align: left;
    font-size: 32px;
    line-height: 64px;
    color: var(--heading-color);
  }

  .privacy-policy-title p {
    font-size: 18px;
    padding-top: 24px;
    margin: 0;
    text-align: left;
  }

  .privacy-policy-sub-menu p {
    font-size: 28px;
  }

  /* Paspor page */

  .paspor-hero {
    padding: 40px 16px;
  }

  .paspor-title {
    margin-bottom: 24px;
  }

  .paspor-title h1 {
    font-size: 64px;
  }

  .paspor-text p {
    font-size: 20px;
    line-height: 30px;
    max-width: 580px;
  }

  .paspor-service-section {
    padding: 80px 16px;
  }

  .paspor-service-sub-heading {
    padding: 0 0 40px;
    max-width: 393px;
  }

  .paspor-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    padding: 0;
    /* gap: 32px; */
  }

  .paspor-card-img {
    max-width: 393px;
    margin: 0 auto;
  }

  .paspor-card-content {
    margin: 0 auto;
  }

  .paspor-card-text p {
    max-width: 393px;
    margin: 0;
  }

  /* Service page */
  .services-page-hero-container {
    padding: 80px 24px 40px;
  }

  .services-page-hero-text h1 {
    font-size: 40px;
    line-height: 64px;
  }

  .services-page-content-container {
    padding: 0 24px 40px;
  }
}

@media (max-width: 430px) {
  /* Hero section */
  .hero-title h2 {
    font-size: 32px;
    line-height: 44px;
    font-weight: bold;
    max-width: 236px;
  }

  .hero-description {
    margin-top: 24px;
  }

  .hero-img {
    padding: 0 16px;
    margin-top: 24px;
  }

  .hero-statistics {
    padding: 0;
  }

  .statistics-title {
    font-size: 20px;
  }

  .statistics-text {
    font-size: 12px;
  }

  /* Service section */
  .service-label {
    padding: 0 16px;
  }

  .service-label h3 {
    font-size: 10px;
  }

  .service-title h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .service-title {
    padding: 0 16px;
  }
  .accordion-container {
    margin-top: 8px;
    padding: 0 16px;
  }

  .accordion-link {
    padding: 8px 0 4px 0;
  }

  .accordion-number {
    font-size: 20px;
  }

  .accordion-service {
    padding-left: 12px;
    font-size: 20px;
  }

  .panel {
    padding-left: 33px;
  }

  .flex {
    padding-left: 12px;
  }

  .flex h3 {
    font-size: 14px;
  }

  .answer p {
    padding: 4px 0 0 29px;
    font-size: 12px;
    max-width: 257px;
  }

  .answer a {
    padding-left: 29px;
    margin: 8px 0 8px 0;
    font-size: 12px;
  }

  /* about us section */
  .about-us-container {
    padding: 0 16px;
  }

  .about-us-label h3 {
    font-size: 10px;
  }

  .about-us-title h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .about-us-decription p {
    font-size: 14px;
    line-height: 21px;
  }

  /* Testimoni */
  .testimoni-container {
    padding: 0 16px;
  }

  .grid-gallery {
    justify-content: start;
  }

  .testimoni-top-row h3 {
    font-size: 10px;
  }

  .testimoni-top-row h2 {
    font-size: 24px;
    line-height: 30px;
  }

  /* footer section */
  .footer-container {
    row-gap: 8px;
  }

  .footer {
    padding: 24px 16px;
  }

  .privacy-policy {
    font-size: 8px;
  }

  .copyright {
    font-size: 10px;
  }

  .whatsapp-icon {
    margin: 0;
    margin-right: 12px;
  }

  /* Privacy & policy */
  .privacy-policy-section {
    padding: 40px 16px 100px;
  }

  .privacy-policy-title p {
    padding-top: 12px;
  }

  .privacy-policy-sub-menu p {
    font-size: 24px;
  }

  /* Paspor page */
  .paspor-service-section {
    padding: 24px 16px 100px;
  }

  .paspor-service-sub-heading {
    padding: 0 0 32px;
  }

  .paspor-service-sub-heading h2 {
    text-align: left;
  }

  .paspor-card {
    gap: 12px;
  }

  .paspor-card-title h2 {
    font-size: 24px;
  }

  .paspor-card-text {
    padding: 12px 0;
  }

  .paspor-card-text p {
    font-size: 14px;
    line-height: normal;
  }

  /* Service page */
  .services-page-hero-container {
    padding: 64px 12px 40px;
  }

  .services-page-hero-text h1 {
    font-size: 32px;
    line-height: 42px;
  }

  .services-page-content-container {
    padding: 0 12px 40px;
  }

  .services-page-content h2 {
    font-size: 24px;
  }

  table th,
  table td {
    padding: 8px;
  }
}
